<footer class="page-footer">
  <div class="container page-footer__content">
    <div>
      <div class="logo">SHOP.CO</div>
      <div class="text">
        We have clothes that suits your style and which you’re proud to wear. From women to men.
      </div>
    </div>
    <div>
      <div class="subtitle">Company</div>
      <div class="links">
        <div class="link">About </div>
        <div class="link">Careers</div>
        <div class="link">Features</div>
      </div>
    </div>
    <div>
      <div class="subtitle">Help</div>
      <div class="links">
        <div class="link">Customer Support</div>
        <div class="link">Delivery Details</div>
        <div class="link">Privacy Policy</div>
      </div>
    </div>
    <div>
      <div class="subtitle">FAQ</div>
      <div class="links">
        <div class="link">Account</div>
        <div class="link">Orders</div>
        <div class="link">Payment</div>
      </div>
    </div>
  </div>
  <div class="container copyright">
    Shop.co © 2000-{{ currentYear }}, All Rights Reserved
  </div>
</footer>