:3000 {
  handle /api/* {
    rewrite * {path}
    reverse_proxy https://ecommerce-api-free-production.up.railway.app
  }
  handle {
    root * /app/browser
    try_files {path} {path}/ /index.html
    file_server
  }
}
