.page-footer {
  padding: 50px 0 30px;
  background-color: var(--color-bg-soft);

  &__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
    padding-bottom: 50px;
    border-bottom: 1px solid var(--color-border);
  }

  .logo {
    font-size: 32px;
    line-height: 32px;
    font-weight: 800;
    font-family: var(--font-heading);
    margin-bottom: 24px;
  }

  .subtitle {
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    margin-bottom: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }

  .copyright {
    padding-top: 30px;
    text-align: center;
    color: var(--color-text-secondary);
    font-size: 14px;
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;

    .link {
      color: var(--color-text-secondary);
    }
  }

  .text {
    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: var(--color-text-secondary);
  }
}
