header {
  height: 100px;

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  .logo {
    font-size: 32px;
    font-weight: 800;
    font-family: var(--font-heading);
  }

  .navigation {
    display: flex;
    gap: 16px;
    align-items: center;
  }
}
