<article class="product-card">
  <div class="product-card__image-wrapper">
    <img
      class="product-card__image"
      [src]="product().imageUrl"
      [alt]="product().title"
    />
  </div>

  <h3 class="product-card__title">{{ product().title }}</h3>

  <div class="product-card__rating">
    <span class="product-card__stars">★★★★★</span>
    <span>{{ product().rating }}/5</span>
  </div>

   <div class="product-card__price-row">
    <span class="product-card__price">${{ product().price }}</span>

    @if (product().oldPrice) {
      <span class="product-card__old-price">${{ product().oldPrice }}</span>
    }

    @if (product().discount) {
      <span class="product-card__discount">{{ product().discount }}%</span>
    }
  </div>

  <button class="btn btn-primary product-card__button" type="button" (click)="onAddToCart()">
    Add to cart
  </button>
</article>
